.App {
  text-align: center;
  background-color: greenyellow;
  min-height: 100vh;
  z-index: 1;
}

.navbar {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 10;
}

.App-link {
  color: #61dafb;
}

.visualizer {
  border: 2px solid black
}

.frame {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	margin: 5em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 220px;
}

.card {
	border-radius: 2em;
	padding: 0 1em;
	background-color: #818181;
}

.controller {
	background: #555;
	margin: 0 1em;
	border: 1px solid;
	height: 3em;
	width: 3em;
	border-radius: 100%;
	background: transparent;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control-buttons {
	height: 4em;
	width: 15em;
	/* background-color: #eee; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.control-panel {
	display: flex;
	justify-content: center;
	align-items: center;
}