.App {
  text-align: center;
  background-color: greenyellow;
  min-height: 100vh;
  z-index: 1;
}

.navbar {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 10;
}

.App-link {
  color: #61dafb;
}

.visualizer {
  border: 2px solid black
}