.App {
  text-align: center;
  background-color: greenyellow;
  min-height: 100vh;
  z-index: 1;
}

.navbar {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 10;
}

.form-div {

}

.label {
	margin-left: 5px;
}

.submit-button {
	margin-left: 10px;
}

.App-link {
  color: #61dafb;
}

.visualizer {
  border: 2px solid black
}

.frame {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100vw;
}

.container {
	margin: 5em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 220px;
}

.card {
	border-radius: 2em;
	padding: 0 1em;
	background-color: #818181;
}

.controller {
	background: #555;
	margin: 0 1em;
	border: 1px solid;
	height: 3em;
	width: 3em;
	border-radius: 100%;
	background: transparent;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control-buttons {
	height: 4em;
	width: 15em;
	/* background-color: #eee; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.control-panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading {
	color: white;
	font-size: 30px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.loader-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	z-index: 1;
}

.spinner {
	width: 64px;
	height: 64px;
	border: 8px solid;
	border-color: #3d5af1 transparent #3d5af1 transparent;
	border-radius: 50%;
	animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
	0% {
			transform: rotate(0deg);
	}
	100% {
			transform: rotate(360deg);
	}
}

/* bars */
.bar {
	height: 200px;
	width: 2em;
	margin: 0 1em;
	transform-style: preserve-3d;
	transform: rotateX(-20deg) rotateY(-30deg);
}

.side {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(254, 254, 254, 0.25);
}

.back {
	transform: translateZ(-4px);
}

.left {
	transform-origin: left;
	transform: rotateY(90deg);
}

.right {
	transform-origin: right;
	transform: rotateY(-90deg);
}

.top {
	height: 34px;
	transform-origin: top;
	transform: rotateX(-90deg);
	background: rgba(254, 254, 254, 0.15);
}

.bottom {
	height: 34px;
	transform-origin: top;
	background: rgba(225, 0, 120, 0.5);
	box-shadow: rgba(225, 0, 120, 0.2);
	transition: 0.3s;
}

.color-bar {
	background: rgba(225, 0, 120, 0.5);
	box-shadow: rgba(225, 0, 120, 0.2);
	transition: 0.3s;
}

.input {
	text-align: center;
	transform: rotate(-90deg);

	outline: none;
}

.quantity-button {
    text-align: center;
    background: rgba(10, 255, 1, 0.2);
    margin: 1px;
    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.quantity-button::hover {
    opacity: 0.5;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}